body {
  margin: 0rem 10rem;
  margin-top: 5rem;
  font-family: 'Courgette', cursive;
  font-size: 2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(41, 46, 41, 0.8);
  background-image:
  repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 3px, transparent 3px, transparent 60px),
  repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 3px, transparent 60px),
  linear-gradient(60deg, rgba(139,139,139,.6) 25%, transparent 25%, transparent 75%, rgba(139,139,139,.6) 75%, rgba(139,139,139,.6)),
  linear-gradient(120deg, rgba(139,139,139,.6) 25%, transparent 25%, transparent 75%, rgba(139,139,139,.6) 75%, rgba(139,139,139,.6));
  background-size: 70px 120px;
  color:white;
}

h1{
  font-size: 1em;
  text-align: center;
}

ul{
background-color: black;
}

.btn{
  background-color: yellow;
  background-image: linear-gradient(to bottom right,  yellow, green);
  border-radius: 60%;
  padding: 10px;
  box-shadow: 0 4px rgb(116, 123, 17);
  font-family: 'Courgette', cursive;
  font-weight: bold;
  font-size: 1em;
  /* margin-left: 40px; */
  margin-left: 23rem;
  border-color: transparent;
  color:black;
}

.btn:hover {background-color: rgb(116, 123, 17)}

.btn:active {
  background-color: rgb(116, 123, 17);
  box-shadow: 0 5px rgb(82, 87, 11);
  transform: translateY(4px);
}

